<!DOCTYPE html>
<html ng-app>
<head>
    <meta charset="utf-8" />
    <title>Chapter 1 Second Example</title>
    <script src="http://code.angularjs.org/1.2.14/angular.js" type="text/javascript"></script>
</head>
<body ng-controller="ExampleController">
    <h1>Introduction</h1>
    <br />
    <label>My name:</label>
    <input type="text" placeholder="Please enter your name" ng-model="name" />
    <br />
    <label>My favorite color:</label>
    <select ng-model="colour" ng-change="onColorChanged()">
        <option value="">Please select</option>
        <option>red</option>
        <option>yellow</option>
        <option>magenta</option>
    </select>
    <br />
    <h3 ng-show="name">Hello! My name is {{name}}</h3>
    <h3 ng-show="colour">My favourite colour <span title="{{colour}}" style="background-color:{{colour}};">&nbsp;&nbsp;</span>.</h3>
    <div ng-show="colorChangeCount > 0">
        The favourite colour was changed {{colorChangeCount}} times.
        <script type="text/javascript">
            function ExampleController($scope) {
                $scope.colorChangeCount = 0;
                $scope.onColorChanged = function () {
                    $scope.colorChangeCount++;
                };
            };
        </script>
    </div>
</body>
</html>